@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face {
    font-family: 'avenirregular';
    src: url('../fonts/Avenir/avenir-black-webfont.woff2') format('woff2'),
         url('../fonts/Avenir/avenir-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$font-opens: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-popins: 'Poppins', sans-serif;
$font-Comfortaa:'Comfortaa', cursive;
$font-Caveat: 'Caveat', cursive;
$font-avenir: 'avenirregular';

$primarysize:16px;




$black:#000;

$black-off: #414042 ;
$gray70:#707070;
$yellow:#ffdb32;
$white:#fff;
$white-off:#f8f9ff;
$red: #ff0000;
$blue:#495cc2;
$bluedark:#253b80;
$blue-light: #5a75cc;
$sky-dark: #17a9d0;









